<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="assets/img/Icon_Game.png">
    <!--===================================UNICONS======================================-->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">

    <!--=================================SWIPER CSS======================================-->
    <link rel="stylesheet" href="assets/css/swiper-bundle.min.2.css">

    <!--=================================== CSS ======================================-->
    <link rel="stylesheet" href="assets/css/style.css">


    <title>Gamer Site</title>
</head>

<body>
    <!--===================================HEADER======================================-->
    <header class="header" id="header">
        <nav class="nav nav_container">
            <img src="./assets/img/Icon_Game.png" alt="" class="nav_img">
            <a href="#" class="nav_logo nav_title">  GAMER SITE</a>

            <div class="nav_menu" id="nav-menu">
                <ul class="nav_list grid">
                    <li class="nav_item">
                        <a href="#home" class="nav_link active-link">
                            <i class="uil uil-estate nav_icon"></i>Home
                        </a>
                    </li>
                    <li class="nav_item">
                        <a href="#about" class="nav_link">
                            <i class="uil uil-user nav_icon"></i>About
                        </a>
                    </li>
                    <li class="nav_item">
                        <a href="#service" class="nav_link">
                            <i class="uil uil-scenery nav_icon"></i>Service
                        </a>
                    </li>
                    <li class="nav_item">
                        <a href="#contact" class="nav_link">
                            <i class="uil uil-message nav_icon"></i>Contactme
                        </a>
                    </li>
                </ul>
                <i class="uil uil-times nav_close" id="nav-close"></i>
            </div>
            <div class="nav_btns">
                <i class="uil uil-moon change-theme icon_nav" id="theme-button">
                    </i>
                <div class="nav_toggle" id="nav-toggle">
                    <i class="uil uil-apps"></i>
                </div>
            </div>
        </nav>
    </header>
    <!--===================================MAIN======================================-->
    <main class="main">
        <!--===================================Catalogo======================================-->
        <section class="services section " id="portfolio ">
            <h2 class="section_title ">Catalogos</h2>
            <span class="section_subtitle ">Actuales Juegos Disponibles</span>

            <div class="services_container container grid ">
                <!--================================ PORTFOLIO 1=================================-->
                <div class="services_content">
                    <div>
                        <h3 class="services_title ">PONG</h3>
                    </div>

                    <div class="services_modal ">

                        <div class="services_modal-content ">
                            <div class="about_container container grid ">
                                <img src="assets/img/Pong.PNG " alt=" " class="services_image">

                                <ul class="services_modal-services grid ">
                                    <li class="services_modal-service ">
                                        <p>Nombre: </p>
                                        <p>PONG</h4>
                                    </li>
                                    <li class="services_modal-service">
                                        <p>Fecha de Creacion:</p>
                                        <p>2023</p>
                                    </li>
                                    <li class="services_modal-service">
                                        <p>Framework:</p>
                                        <img src="">
                                    </li>
                                    <li class="services_modal-service">
                                        <p>Autor:</p>
                                        <p>Administrador</h4>
                                    </li>
                                    <li class="services_modal-service">
                                        <p>Categoria:</p>
                                        <p>Juego de mesa</p>
                                        <img src="">
                                    </li>
                                    <li class="services_modal-service">
                                        <p>Y listo!</p>
                                        <div>
                                            <a download="PONG" href="assets/Descargables/PONG.rar" class="button button--flex">
                                            Descarga Ya
                                            <img src= "assets/svg/arrow-to-bottom.svg" class="button_icon icon"></i>
                                            </a>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <i class="uil uil-times services_modal-close "></i>


                        </div>
                    </div>
                </div>

                <!--================================ PORTFOLIO 2=================================-->
                <div class="services_content">
                    <div>
                        <h3 class="services_title ">CAZADOR DE QUESO</h3>
                    </div>

                    <div class="services_modal ">

                        <div class="services_modal-content ">
                            <div class="about_container container grid ">
                                <img src="assets/img/Pong.PNG " alt=" " class="services_image">

                                <ul class="services_modal-services grid ">
                                    <li class="services_modal-service ">
                                        <p>Nombre: </p>
                                        <p>Cazador de Queso</h4>
                                    </li>
                                    <li class="services_modal-service">
                                        <p>Fecha de Creacion:</p>
                                        <p>2022</p>
                                    </li>
                                    <li class="services_modal-service">
                                        <p>Framework:</p>
                                        <img src="">
                                    </li>
                                    <li class="services_modal-service">
                                        <p>Autor:</p>
                                        <p>Usuario</h4>
                                    </li>
                                    <li class="services_modal-service">
                                        <p>Categoria:</p>
                                        <p>Plataforma</p>
                                        <img src="">
                                    </li>
                                    <li class="services_modal-service">
                                        <p>Aun en desarrollo</p>
                                        <div>
                                            <a disable download="PONG" href="assets/Descargables/PONG.rar" class="button button--flex">
                                            Descarga Ya
                                            <img src= "assets/svg/arrow-to-bottom.svg" class="button_icon icon"></i>
                                            </a>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <i class="uil uil-times services_modal-close "></i>


                        </div>
                    </div>
                </div>

            </div>
        </section>
    </main>
    <!--===================================FOOTER======================================-->
    <section class="footer">
        <div class="footer_bg">
            <div class="footer_container container grid">
                <div>
                    <h1 class="footer_title">GAMER SITES</h1>
                    <span class="footer_subtitle">Mas proximamente</span>
                </div>

                <ul class="footer_links">
                    <li>
                        <a href="#Servicios" class="footer_link">Servicios</a>
                    </li>
                    <li>
                        <a href="contact" class="footer_link">Contactanos</a>
                    </li>
                </ul>
                <div class="footer_socials">
                    <a href="https://www.facebook.com/" target="_blank" class="footer_social">
                        <i class="uil uil-facebook-f"></i>
                    </a>
                    <a href="https://www.instagram.com/" target="_blank" class="footer_social">
                        <i class="uil uil-instagram"></i>
                    </a>
                    <a href="https://www.twitter.com/" target="_blank" class="footer_social">
                        <i class="uil uil-twitter-alt"></i>
                    </a>
                </div>
            </div>
            <p class="footer_copy">&#169; Bedimcode. All right reserved </p>
        </div>
    </section>

    <!--===================================SCROLL TOP======================================-->
    <a href="#" class="scrollup" id="scroll-up">
        <i class="uil uil-arrow-up scrollup_icon"></i>
    </a>

    <!--===================================SWIPER JS======================================-->
    <script src="assets/main/swiper-bundle.min.2.js"></script>

    <!--===================================MAIN JS======================================-->
    <script src="assets/main/main.js"></script>


</body>

</html>